#Ignore everything
*

#But not these files
!Introduction_EDA_R.pptx
!README.md
!EDA_R.Rproj
!xyz.R
!xyz.qmd
!xyzV2.qmd
!.gitignore
!XYZ-2015-2022-table-20230205JV.xlsx
!combined_table_net_xyz.csv
.Rproj.user
